* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center
}

.mario {
    background-image: url("../assets/mario.png");
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    max-width: 350px;
    margin-right: 40px;
}

.left .mario {
    transform: scaleX(-1);
}


.jump .mario  {
    background-image: url("../assets/jumping.png");

}

.ground {
    background-image: url("https://art.pixilart.com/443d1dd72cf1b89.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.goomba {
    background-image: url("../assets/moving_goomba.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

.points-block {
    background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/bb9132fd5d4af2a.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.empty-points-block {
    background-image: url("../assets/empty_block.PNG");
    background-repeat: no-repeat;
    background-size: contain;
}

.coin-spinning {
    background-image: url("../assets/coin_spinning.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}


.div-container {
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    border: 1px solid black;

}

.div-container div{
    /* border: 0.5px solid gray; */
    height: 53px;
    width: 53px;
  }

.winning-block {
    background-image: url("../assets/winning.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
  }
  

